* {
  font-family: 'Courier New', Courier, monospace;
  color: lawngreen;
}
div {
  /* border:1px dotted hotpink; */
  /* margin:0; */
  /* padding:0; */
}
body {
  background-color: #000000;
  margin:0;
  padding:0;
}

.container {
  width:100%;
  margin:0;
  padding:0;
  /* border:1px solid red; */
}

a, a:hover {
  text-decoration: none;
}

/* Navbar */

nav {
  width: 96vw;
  height: 4vh;
  margin:0 auto;
  padding:0;
  color: lawngreen;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
nav>ul, .modal-body ul {
  height: 100%;
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align:right;
}
.modal-body ul {
  padding-bottom:1rem;
}
nav>ul>li, .modal-body ul>li {
  padding: 0 0.5rem;
  display: inline;
}
nav>ul.left-nav>li:first-child {
  padding-left: 0rem;
}
nav>ul.right-nav>li:last-child {
  padding-right: 0rem;
}
nav h1 {
  font-size: 3.2vw;
  margin: 0rem;
  font-weight: normal;
}
nav a {
  display: inline-block;
  margin: 0;
  color: lawngreen;
  text-decoration: none;
}

nav a:active, nav a:hover {
  color: lawngreen;
} 

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

form input, button {
  color: lawngreen;
  background-color: #000000;
  border: 1px solid lawngreen;
}

button {
  margin-left: 0;
}

button:hover {
  color:#000000;
  background-color: lawngreen;
  border: 1px solid lawngreen;
}
button:focus {
  color: yellow;
  background-color: #000000;
  border: 1px solid yellow;
}

button:active {
  color:#000000;
  background-color: lawngreen;
  border: 1px solid lawngreen;
}

button:disabled {
  color: rgb(32, 59, 5);
  border: 1px solid rgb(32, 59, 5);
}

button:disabled:hover {
  color: rgb(32, 59, 5);
  background-color: rgb(18, 26, 9);
  border: 1px solid rgb(32, 59, 5);
}

/* Game Board */
.gameboard {
  width: 96vw;
  /* height: 96vw; */
  /* overflow: hidden; */
  margin: 0 2%;
  position: absolute;
  top: 6vw;
  left: 0;
  /* display: flex; */
}
.gameboard>div { /*row*/
  /* flex: 1; */
  width:100%;
  display:flex;
  /* border:1px solid hotpink; */
  line-height:30px;
}
.gameboard>div:first-child {
  /* background-color: #00FFF0; */
}
.gameboard>div>div {
  flex:1 0 auto;
  height: auto;
  /* width: 2rem;
  height: 2rem; */
  margin: 0.1rem;
  color: black;
  size:1.25rem;
  text-align: center;
}
.gameboard>div>div::before {
  content:'';
  float:left;
  padding-top:100%;
}

.gameboard>div>div.alive {
  background: lawngreen;
  border-radius: 1rem;
}
.gameboard>div>div.dead {
  background: rgb(67, 67, 67);
  
}

/* MODAL */
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid lawngreen;
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid lawngreen;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-title .h4 {
  font-size: 1.5rem;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-body p, .modal-body li {
  font-size: 0.85rem;
}

.modal-body a,
.modal-body a:hover,
.modal-body a:active {
  text-decoration: none;
  color: lawngreen;
}

.modal-body a:hover {
  background-color: lawngreen;
  color: black;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid lawngreen;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

@media only screen and (max-width: 800px) {
  body {
    /* background-color: lightblue; */
  }
  nav {
    flex-direction: column;
  }
  nav>ul, .modal-body ul {
    width: 100%;
  }
  nav>ul>li, .modal-body ul>li {
    /* display: block; */
  }

  button {
    height: 1..5rem;
    font-size: 0.8rem;
  }

  .gameboard {
    position: relative;
    top: 2vw;
  }
}